<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="author" content="Nextidoacao">

  <title>Cadastros</title>

  <%= favicon_link_tag 'favicon.png'%>

  <link href="/assets/dashboard/switchery.min.css" rel="stylesheet" />
  <link href="/assets/dashboard/jquery.circliful.css" rel="stylesheet" type="text/css" />

  <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/dashboard/style.css" rel="stylesheet" type="text/css">

  <script src="/assets/dashboard/modernizr.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>


<body class="fixed-left">

  <%= render '/layouts/nav_bar' %>
  
  <!-- ========== Left Sidebar Start ========== -->

  <%= render '/layouts/side_bar' %>

  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box">
              <div class="row">
                <div class="col-12">
                  <div class="m-b-30">
                   <%= link_to 'Adicionar', new_cadastro_path, class: 'btn btn-primary waves-light' %>
                 </div>
              </div>
            </div>

            <%= render '/layouts/search' %>

            <% if @cadastros.size == 0 %>
            <strong style= "color: #2ab6ed";> Não há cadastros para exibir. </strong>
            <% else %>

            <table class="table table-striped add-edit-table" id="datatable-editable">
              <thead>
                <tr>
                  <th>Status </th>
                  <th>ID Cliente Enel</th>
                  <th>Data do Cadastro</th>
                  <th>Valor</th>
                  <th>Parcelas</th>
                  <th> Autor </th>
                  <th>Ações </th>
                </tr>
              </thead>

              <tbody>
                <% @cadastros.each do |cadastro| %>

                <tr class="gradeX">
                  <% if cadastro.doador_ativo %>
                  <td> <i class="fas fa-user", style="color: #94cc6a;"></i></td>
                  <% else %>
                  <td> <i class="fas fa-user", style="color: #e03d28;"></i></td>
                  <% end %>
                  <td> <%= cadastro.id_cliente_enel %> </td>
                  <td> <%= post_date cadastro.data_ocorrencia %> </td>
                  <td>R$ <%= cadastro.valor %> </td>
                  <td> <%= cadastro.parcelas %> </td>
                  <td style="color: #2ab6ed;"> <strong><%= cadastro.autor %></strong> </td>
                  <td class="actions">

                   <%= link_to '<i class= "fas fa-eye"></i>'.html_safe, cadastro_path(cadastro), { class: 'on-default remove-row', 'data-original-title' => "Visualizar", 'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "" } %> 

                   <%= link_to '<i class= "fas fa-edit"></i>'.html_safe, edit_cadastro_path(cadastro), { class: 'on-default remove-row', 'data-original-title' => "Editar", 'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "" } %>  
                 </td>                
               </tr>
               <% end %>
             </tbody>
           </table>

           <% end %>

         </div>
       </div>
     </div>
    <%= render '/layouts/javascripts' %>
    
    <%= link_to_prev_page @cadastros, 'Página Anterior', class: 'btn float-left btn-primary waves-light' %>
    <%= link_to_next_page @cadastros, 'Próxima Página', class: 'btn float-left btn-primary waves-light' %>

  </body>
  </html>
