<div class="row">
  <div class="col l8  s12 m10 push-l2 push-m1 baixo-senha">
    <div class="container azul quadro fontes">

      <h2 class= "center">Alterar senha</h2>

      <div class= "center">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
      </div>

      <div class="field fontes2">
        <%= f.label :password, "Nova senha" %>
        <br />
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "Senha" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirme a nova senha" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Digite a senha novamente" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


