<%= form_for user, url: create_colaborador_path do |form| %>
<% if user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(cadastro.errors.count, "erros") %> impediram que este cadastro fosse concluído:</h2>

  <ul>
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group row">
  <div class="col-12">
    <label> Login </label>
  </div>
  <div class="col-12">
    <div class="input-group">
      <%= form.text_area :login, autofocus: true, autocomplete: "Login", class: 'form-control',  placeholder: "Login" %>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-12">
    <label> Email </label>
  </div>
  <div class="col-12">
    <div class="input-group">
      <%= form.email_field :email, autocomplete: "email",  placeholder: "E-mail", class: 'form-control' %>
      </div>
    </div>
  </div>


<div class="form-group row">
  <div class="col-12">
    <label> Senha </label>
  </div>
  <div class="col-12">
    <div class="input-group">
      <% if @minimum_password_length %>
      <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
      <% end %>
      <br />
      <%= form.password_field :password, autocomplete: "off", placeholder: "Senha", class: 'form-control'  %>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-12" >
    <label> Confirme sua senha</label>
  </div>
  <div class="col-12">
    <div class="input-group">
      <%= form.password_field :password_confirmation, autocomplete: "off", placeholder: "Digite a senha novamente", class: 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group text-right m-t-20">
  <div class="col-xs-6">
    <div class="actions">
      <%= link_to 'Voltar', cadastros_path, class: 'btn float-left btn-primary waves-light' %>
      <%= form.submit 'Concluir', class: 'btn btn-primary btn-custom waves-light'%> 
    </div>  
  </div>
</div>

<% end %>