<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description">
  <meta name="author">

  <%= favicon_link_tag 'favicon.png'%>

  <title>Perfil do Colaborador</title>

   <%= stylesheet_link_tag 'dashboard_styles/switchery.min',  'data-turbolink-track': 'reload' %>
  <%= stylesheet_link_tag 'bootstrap.min',  'data-turbolink-track': 'reload' %>
  <%= stylesheet_link_tag 'dashboard_styles/style',  'data-turbolink-track': 'reload' %>
  <%= javascript_include_tag 'dashboard_js/modernizr.min',  'data-turbolink-track': 'reload' %>
</head>

<body>
  <div class="wrapper-page">
    <div class="text-center">
      <a class="logo-lg"><i class="mdi mdi-radar"></i> <span> Seu Perfil </span> </a>
    </div>
    <%= render 'form-disabled', user: @user %>
  </div>

 <%= render '/layouts/javascripts' %>

</body>
</html>