

<div class="container azul quadro-cadastro">
<a class="btn-floating green lighten-2" href="/enderecos"><i class="material-icons">arrow_back</i></a>
<h1> <p class="flow-text center">Cadastro de endereço   <i class=" material-icons ">add_location</i>
  </p></h1>
<%= form_with(model: endereco, local: true) do |form| %>
  <% if endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
      <% endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label"> Logradouro :</label>
    <%= form.text_field :logradouro, id: :endereco_logradouro,class:"validate white-text" %>
  </div>

  <div class="field">
    <label class="label"> Tipo logradouro:</label>
    <%= form.text_field :tipo_logradouro, id: :endereco_tipo_logradouro,class:"validate white-text" %>
  </div>

  <div class="field">
    <label class="label"> Número:</label>
    <%= form.text_field :numero, id: :endereco_numero,class:"validate white-text" %>
  </div>

  <div class="field">
    <label class="label"> Bairro:</label>
    <%= form.text_field :bairro, id: :endereco_bairro,class:"validate white-text" %>
  </div>

  <div class="field">
    <label class="label"> Cidade:</label>
    <%= form.text_field :cidade, id: :endereco_cidade,class:"validate white-text" %>
  </div>

  <div class="field">
    <label class="label"> Estado:</label>
    <%= form.text_field :estado, id: :endereco_estado,class:"validate white-text" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn green lighten-2 " %>
  </div>
<% end %>
</div>