<section class="section"></section>
<div class="row" >
  <div class="col l6 m10 push-l3 push-m1 card card-color">
    <div class="container transparente fontes">
      <h3 class="center">[logo]</h3>
      <br>
      <br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field ">
        <%= f.label 'Login', class: 'label' %>
        <br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"E-mail" %>
      </div>

      <div class="field">
        <%= f.label 'Senha',class:'label' %>
        <br />
        <%= f.password_field :password, autocomplete: "off",placeholder:'Senha' %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field ">
        <%= f.check_box :remember_me,type:'checkbox',class:'filled-in',id:'teste' %>
        <%= f.label 'Lembrar de mim', class: 'label', for: 'remember_me'%>
      </div>
      <% end -%>
      <br>
      <br>

      <div class="actions left-align">
        <% if current_page?('/login') %>
          <%= link_to "Quero me cadastrar", cadastrar_instituicao_path, class: "white-text" %> 
        <% end %>
      </div>

      <div class="actions right-align">
        <%= f.submit "Entrar", class: 'waves-effect cor-botao btn' %>
      </div>
      <br>
      <br>
      
      <% end %>
 
    </div>  
  </div>
</div>

<script>
 $(document).ready(function() {
  $('select').material_select();
});
</script>