
<div class="row">
  <div class="col l6  s12 m10 push-l3 push-m1 baixo">
    <div class="container azul quadro fontes">
      <h3 class="center">[logo]</h3>
      <br>
      <br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label 'Login', class: 'label' %>
        <br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"E-mail" %>
      </div>

      <div class="field">
        <%= f.label 'Senha',class:'label' %>
        <br />
        <%= f.password_field :password, autocomplete: "off",placeholder:'Senha' %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field ">
        <%= f.check_box :remember_me,type:'checkbox',class:'filled-in',id:'teste' %>
        <%= f.label 'Lembrar de mim',class:'label',for:'remember_me',for:'teste' %>
      </div>
      <% end -%>
      <br>
      <br>
      <div class="actions right-align">
        <%= f.submit "Entrar",class: 'btn green lighten-2 white-text' %>
      </div>
      <br>
      <br>
      <div>
        <% if current_page?('/login') %>
          <%= link_to "Quero me cadastrar", cadastrar_instituicao_path, class: "black-text" %> 
          <%= link_to "Esqueci minha senha", new_user_password_path, class: "black-text right" %>
        <% end %>  
        <% if current_page?('/usuario_nextis/sign_in') %>
          <%= link_to "Quero me cadastrar", new_usuario_nexti_registration_path, class: "black-text" %> 
          <%= link_to "Esqueci minha senha", new_usuario_nexti_password_path, class: "black-text right" %>
        <% end %>
      </div>
      <% end %>
      
    </div>  
  </div>
</div>
<script>
 $(document).ready(function() {
  $('select').material_select();
});

</script>