<div class= "asd2">
  <section class="section">
    <div class="nested-fields">
      <h1>
        <p class="flow-text center"> Endereço
          <i class=" material-icons ">add_location</i>
        </p>
      </h1>

      <div class="container">
        <div class= "row">
          <div class= "col s6">
            <div class="field">
              <%= f.label 'Logradouro', class: 'label white-text flow-text' %>
              <%= f.text_field :logradouro, id: :endereco_logradouro,class:'label' %>
            </div>
          </div>

          <div class= "col s6">
            <div class="field">
              <%= f.label 'Tipo Logradouro', class: 'label white-text flow-text' %>
              <%= f.text_field :tipo_logradouro, id: :endereco_tipo_logradouro,class: 'label' %>
            </div>
          </div>

          <div class= "col s6">
            <div class="field">
              <%= f.label :Número, class: 'label white-text flow-text' %>
              <%= f.text_field :numero, id: :endereco_numero, class: 'label' %>
            </div>
          </div>

          <div class= "col s6">
            <div class="field">
              <%= f.label :Bairro, class: 'label white-text flow-text' %>
              <%= f.text_field :bairro, id: :endereco_bairro, class: 'label' %>
            </div>
          </div>

          <div class= "col s6">
            <div class="field">
              <%= f.label :Cidade, class: 'label white-text flow-text' %>
              <%= f.text_field :cidade, id: :endereco_cidade, class: 'label' %>
            </div>
          </div>

          <div class= "col s6">
            <div class="field">
              <%= f.label :Estado, class: 'label white-text flow-text' %>
              <%= f.text_field :estado, id: :endereco_estado, class: 'label' %>
            </div>
          </div>
        </div>
      </div>

      <button class='btn right btn-primary green light-2' onclick="asd2()" type=button> Salvar Endereço</button>
      <%= link_to_remove_association "Remover Endereço", f, class: 'btn btn-primary green light-2' %>

      <br> <br>
    </div>
  </section>
</div>