
  <div class="container azul quadro-cadastro">
    <a class="btn-floating green lighten-2" href="/intituicaos">
      <i class="material-icons">arrow_back</i>
    </a>
    <h1>
      <p class="flow-text center">Cadastro de instituição
        <i class=" material-icons ">favorite</i>
      </p>
    </h1>


    <%= form_with(model: instituicao, local: true) do |form| %>
      <% if instituicao.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(instituicao.errors.count, "error") %> prohibited this instituicao from being saved:</h2>

          <ul>
            <% instituicao.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
              <% end %>
          </ul>
        </div>
        <% end %>

          <div class="field">
            <label class="label"> Nome da Instituição:</label>
            <%= form.text_field :nome_instituicao, id: :instituicao_nome_instituicao,class:"validate white-text" %>
          </div>

          <div class="field">
            <label class="label"> Nome do relatório da instituição:</label>
            <%= form.text_field :nome_relatorio_instituicao, id: :instituicao_nome_relatorio_instituicao,class:"validate white-text" %>
          </div>

          <div class="field">
            <label class="label"> Código da instituição:</label>
            <%= form.text_field :codigo_instituicao, id: :instituicao_codigo_instituicao,class:"validate white-text" %>
          </div>

          <div class="field">
            <label class="label"> Código do produto:</label>
            <%= form.text_field :codigo_produto, id: :instituicao_codigo_produto,class:"validate white-text" %>
          </div>

          <div class="field">
            <label class="label"> Logo:</label>
            <%= form.text_field :logo, id: :instituicao_logo,class:"validate white-text" %>
          </div>

          <div class="field">
            <label class="label"> Cnpj:</label>
            <%= form.text_field :cnpj, id: :instituicao_cnpj,class:"validate white-text" %>
          </div>
<h1>
      <p class="flow-text center"> Telefone
        <i class=" material-icons ">local_phone</i>
      </p>
    </h1>


    <%= form.fields_for :telefones do |telefone| %>
      <%= render 'telefone_fields', f: telefone %>
    <% end %>
          <div class="links">
            <%= link_to_add_association 'Adicionar Telefone', form, :telefones,  class: 'btn btn-primary green light-2' %>
          </div>


    <h1>
      <p class="flow-text center"> Endereço
        <i class=" material-icons ">add_location</i>
      </p>
    </h1>


    <%= form.fields_for :enderecos do |endereco| %>
      <%= render 'endereco_fields', f: endereco %>
  <div class="links">
            <!-- COMENTÁRIO: O link_to_add_association é um helper provido pela gem -->
            <%= link_to_add_association 'Adicionar Endereço', form, :enderecos, class: 'btn btn-primary green light-2' %>
              <br>
              <br>

          </div>

        <% end %>
<div class="actions">
            <%= form.submit 'Enviar',class:'btn green light-2' %>
          </div>
<% end %>
  </div>
  
  
