<section class="section">
  <div class="container azul quadro-cadastro">

    <h1>
      <p class="flow-text center">Cadastro de instituição
      </p>
    </h1>

    <%= form_with(model: instituicao, local: true) do |form| %>
    <% if instituicao.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(instituicao.errors.count, "error") %> prohibited this instituicao from being saved:</h2>

        <ul>
          <% instituicao.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class= "container">
        <div class= "row">
          <div class= "input-field col s6">
           <%= form.text_field :nome_instituicao, id: :instituicao_nome_instituicao, class: "validate", placeholder: "Nome da instituição" %>
         </div>
         <div class="input-field col s6">

          <%= form.text_field :nome_relatorio_instituicao, id: :instituicao_nome_relatorio_instituicao,class: "validate white-text", placeholder: "Nome do relatório da instituição"%>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">

          <%= form.text_field :codigo_instituicao, id: :instituicao_codigo_instituicao,class: "validate white-text", placeholder: "Código da instituição" %>
        </div>
        <div class="input-field col s6">

          <%= form.text_field :codigo_produto, id: :instituicao_codigo_produto,class: "validate white-text", placeholder: "Código do produto" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">

          <%= form.text_field :logo, id: :instituicao_logo,class: "validate white-text", placeholder: "Logo" %>
        </div>
        <div class="input-field col s6">

          <%= form.text_field :cnpj, id: :instituicao_cnpj,class: "validate white-text", placeholder: "CNPJ" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">

          <%= form.text_field :email, id: :instituicao_email,class: "validate white-text", placeholder: "E-mail" %>
        </div>

        <div class= "input-field col s6">
           <%= form.text_field :nome_arquivo, id: :instituicao_nome_arquivo, class: "validate", placeholder: "Nome do Arquivo" %>
         </div>
      </div>
    </div>

    <h1>
      <p class="flow-text center"> Telefone
      </p>
    </h1>

    <%= form.fields_for :telefones do |telefone| %>

    <%= render 'telefone_fields', f: telefone %>
    <% end %>

    <div class="col s12 center-align">
      <%= link_to_add_association 'Adicionar Telefone', form, :telefones,  class: 'btn btn-primary cor-botao' %>
    </div>

    <h1>
      <p class="flow-text center"> <i class=" material-icons prefix">location_on</i> Endereço 
      </p>
    </h1>
    
    <%= form.fields_for :enderecos do |endereco| %>
    <%= render 'endereco_fields', f: endereco %>
    <% end %>

    <div class="col s12 center-align ">
      <%= link_to_add_association 'Adicionar Endereço', form, :enderecos, class: 'btn btn-primary cor-botao' %>
    </div>

    <br>     

    <div class="actions">
      <%= form.submit 'Enviar',class: 'btn cor-botao' %>
    </div> 


    <% end %> 


  </div>
</div>

</section>
