<section class="section">
  <div class="container azul quadro-cadastro">

    <h1>
      <p class="flow-text center">Cadastro de instituição
        <i class=" material-icons ">location_city</i>
      </p>
    </h1>


    <%= form_with(model: instituicao, local: true) do |form| %>
    <% if instituicao.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(instituicao.errors.count, "error") %> prohibited this instituicao from being saved:</h2>

        <ul>
          <% instituicao.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>


      <div class= "container">
        <div class= "row">
        <div class= "col s6">
          <div class= "field">
            <label class=" label white-text flow-text"> Nome da Instituição:</label>
            <%= form.text_field :nome_instituicao, id: :instituicao_nome_instituicao,class: "validate white-text" %>
          </div>
        </div>

        <div class= "col s6">
          <div class="field">
            <label class="label white-text flow-text"> Nome do relatório da instituição:</label>
            <%= form.text_field :nome_relatorio_instituicao, id: :instituicao_nome_relatorio_instituicao,class: "validate white-text" %>
          </div>
        </div>

        <div class= "col s6">
          <div class="field">
            <label class="label white-text flow-text"> Código da instituição:</label>
            <%= form.text_field :codigo_instituicao, id: :instituicao_codigo_instituicao,class: "validate white-text" %>
          </div>
        </div>

        <div class= "col s6">
          <div class="field">
            <label class="label white-text flow-text"> Código do produto:</label>
            <%= form.text_field :codigo_produto, id: :instituicao_codigo_produto,class: "validate white-text" %>
          </div>
        </div>

        <div class= "col s6">
          <div class="field">
            <label class="label white-text flow-text"> Logo:</label>
            <%= form.text_field :logo, id: :instituicao_logo,class: "validate white-text" %>
          </div>
        </div>

        <div class= "col s6">
          <div class="field">
            <label class="label white-text flow-text"> Cnpj:</label>
            <%= form.text_field :cnpj, id: :instituicao_cnpj,class: "validate white-text" %>
          </div>
        </div>



      </div>
        <%= form.fields_for :telefones do |telefone| %>
          <%= render 'telefone_fields', f: telefone %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Adicionar Telefone', form, :telefones,  class: 'btn btn-primary green lighten-2' %>
        </div>
        

        <br>
        <br>
        <br>

        <%= form.fields_for :enderecos do |endereco| %>
          <%= render 'endereco_fields', f: endereco %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Adicionar Endereço', form, :enderecos, class: 'btn btn-primary green lighten-2' %>
        </div>

        <br>          
        
        <div class="actions">
          <%= form.submit 'Enviar',class:'btn green lighten-2' %>
        </div>
        
        <% end %>
      </div>
    </div>




  </section> 