<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js' %>
<script type="text/javascript" charset="utf-8"> 
	$('.telefone_mask').mask('(99) 9999-9999');
</script>


<section>
	<div class="nested-fields">
		<h1>
			<p class="flow-text center"> Telefone
				<i class=" material-icons ">local_phone</i>
			</p>
		</h1>

		<div class="container">
			<div class= "row label">
				<div class= "col s6">
					<div class="field">
						<%= f.label :numero, "Numero", class: "label" %>
						<%= f.text_field :numero, class: "telefone_mask" %>		
					</div>
				</div>

				<div class= "col s6">
					<div class="field">
						<%= f.label :codigo_area, "DDD", class: "label" %>
						<%= f.number_field :codigo_area %>
					</div>
				</div>
			</div>
		</div>

		
		
		<%= link_to_remove_association "Remover Telefone", f, class: 'btn btn-primary green light-2' %>
		<br> <br>
	</div>
</section>
