<script type="text/javascript">
	var num = -1
	function incrementa(num){
		num = num + 1;
		return num;
	}

}
</script>

<section class= "asd">
	<div class="nested-fields">
		<h1>
			<p class="flow-text center"> Telefone
				<i class=" material-icons ">local_phone</i>
			</p>
		</h1>

		<div class="container">
			<div class= "row label">
				<div class= "col s6">
					<div class="field">
						<%= f.label :numero, "Numero", class: "label" %>
						<%= f.text_field :numero, class: "telefone_mask" %>		
					</div>
				</div>

				<div class= "col s6">
					<div class="field">
						<%= f.label :codigo_area, "DDD", class: "label" %>
						<%= f.number_field :codigo_area %>
					</div>
				</div>
			</div>
		</div>

		<button class='btn right btn-primary green lighten-2 ' onclick="asd()" type=button> Salvar Telefone </button>
		<%= link_to_remove_association "Remover Telefone", f, class: 'btn btn-primary green lighten-2' %>
	</div>
	<br> <br>
</section>

<script type="text/javascript">
	function incrementa(num){
		num = num + 1;
		return num;
	}

}
</script>


<section class="idtelef" style= "display: none;">
	<div class="container">
		<div class= "row label">
			<i class="material-icons">local_phone</i>
			<button class='btn right btn-primary green lighten-2' onclick="asd3(incrementa(num))" type=button> Editar </button>
		</p>
	</div>
</div>
</section>