<div class="row">
  <div class="col  l4 m4  s12 offset-l3 offset-m3"><h1 class="center"> Instituicões</h1></div>
  <div class="col l3 offset-s4"><a class="btn  btn-large waves-effect waves-light green lighten-3 baixo-botao" href="instituicaos/new"><i class="material-icons">add</i></a></div>
</div>

<div class="container">

<p id="notice"><%= notice %></p>



<table class="centered striped responsive-table flow-text">
  <thead>
    <tr>
      <th>Nome instituicao</th>
      <th>Nome relatorio instituicao</th>
      <th>Codigo instituicao</th>
      <th>Codigo produto</th>
      <th>Logo</th>
      <th>Cnpj</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instituicaos.each do |instituicao| %>
      <tr>
        <td><%= instituicao.nome_instituicao %></td>
        <td><%= instituicao.nome_relatorio_instituicao %></td>
        <td><%= instituicao.codigo_instituicao %></td>
        <td><%= instituicao.codigo_produto %></td>
        <td><%= instituicao.logo %></td>
        <td><%= instituicao.cnpj %></td>
        <td><%= link_to 'Show', instituicao %></td>
        <td><%= link_to 'Edit', edit_instituicao_path(instituicao) %></td>
        <td><%= link_to 'Destroy', instituicao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




</div>