<p id="notice"><%= notice %></p>

<h1>Instituicaos</h1>

<table>
  <thead>
    <tr>
      <th>Nome instituicao</th>
      <th>Nome relatorio instituicao</th>
      <th>Codigo instituicao</th>
      <th>Codigo produto</th>
      <th>Logo</th>
      <th>Cnpj</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instituicaos.each do |instituicao| %>
      <tr>
        <td><%= instituicao.nome_instituicao %></td>
        <td><%= instituicao.nome_relatorio_instituicao %></td>
        <td><%= instituicao.codigo_instituicao %></td>
        <td><%= instituicao.codigo_produto %></td>
        <td><%= instituicao.logo %></td>
        <td><%= instituicao.cnpj %></td>
        <td><%= link_to 'Show', instituicao %></td>
        <td><%= link_to 'Edit', edit_instituicao_path(instituicao) %></td>
        <td><%= link_to 'Destroy', instituicao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instituicao', new_instituicao_path %>
