<p id="notice"><%= notice %></p>

<p>
  <strong>Nome instituicao:</strong>
  <%= @instituicao.nome_instituicao %>
</p>

<p>
  <strong>Nome relatorio instituicao:</strong>
  <%= @instituicao.nome_relatorio_instituicao %>
</p>

<p>
  <strong>Codigo instituicao:</strong>
  <%= @instituicao.codigo_instituicao %>
</p>

<p>
  <strong>Codigo produto:</strong>
  <%= @instituicao.codigo_produto %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @instituicao.logo %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @instituicao.cnpj %>
</p>

<%= link_to 'Edit', edit_instituicao_path(@instituicao) %> |
<%= link_to 'Back', instituicaos_path %>
