<!DOCTYPE html>
<html>
<head>
  <title>Nextidoacao</title>
  <link href="https://meyerweb.com/eric/tools/css/reset/reset.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  
  <%= favicon_link_tag 'favicon.png'%>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'custom' %>

  <meta nsame="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>   
  <section>
    <nav class="color-nav">
      <div class="nav-wrapper container">
        <%= link_to image_tag('logo-nexti-redimensionado.png', class: 'brand-logo logo'), welcome_path %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to 'Início', root_path %></li>
          <li><%= link_to 'Sobre', about_path %></li>
          
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Dashboard', cadastros_path %>
            </li>
          <% end %> 
          <% if usuario_nexti_signed_in? %>
          <li>
            <%= link_to 'Sair', destroy_usuario_nexti_session_path, method: :delete %>
          </li>
          <% end %>
          <% if user_signed_in? %>
          <li>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </section>

  <main>
    <%= yield %>
  </main>

  <footer class="page-footer color-nav">
    <div class="container">
      <div class="row">
        <div class="col s4">
          <h5 class="white-text">NExTI</h5>
          <p class="grey-text text-lighten-4">Mais um sistema feito pelo Núcleo de extensão em tecnologia da informação da Faculdade Paraíso</p>
        </div>
        <div class="col s4">
          <h5 class="white-text">Links úteis</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.fapce.edu.br/index.php">Faculdade Paraíso do Ceará</a></li>
            <br>
            <li><a class="grey-text text-lighten-3" href="https://nexti.fapce.edu.br/">NExTI</a></li>
          </ul>
        </div>
        <div class="col s4">
          <h5 class="white-text" align="center">Contatos</h5>
          <ul>
            <li ><p class="grey-text text-lighten-4" align="center"><i class="material-icons">call</i> <br> (88) 3512-3229</p></li> <br>
            <li><p class="grey-text text-lighten-4" align="center"><i class="material-icons">email</i><br> nexti@fapce.edu.br</p></li>
            <li> <br> <p class="grey-text text-lighten-4" align="center"><i class="material-icons">location_on</i>
             <br> R. da Conceição, 1180 <br> São Miguel <br> Juazeiro do Norte - CE<br>  CEP: 63010-222 
             </p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 - Todos os direitos reservados.
      </div>
    </div>
  </footer>
</body>
</html>
