<!DOCTYPE html>
<html>
  <head>
    <title>Nextidoacao</title>
    <link href="https://meyerweb.com/eric/tools/css/reset/reset.css" rel="stylesheet"
    <%= csrf_meta_tags %>
    <%=favicon_link_tag 'favicon.png'=%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag 'custom' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

    <% if usuario_nexti_signed_in? %>
        <%= link_to('Logout', destroy_usuario_nexti_session_path, method: :delete) %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
